.container {
    text-align: center;
    padding-top: 100px;
}

.title  {
    font-size: 800%;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    display: inline;
}

.content   {
    padding: 100px;
    padding-top: 0;
    font-size: 250%;
    text-align: center;
}

.main {
    color: #323232;
    background-color:#faebd7;
    transition: 200ms all ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.sidebar {
    text-align: center;
    height: 100%;
    width: 70%;
    font-size: 350%;
    position: fixed;
    top: 0;
    background-color: MediumSeaGreen;
    padding-top: 250px;
    right: -70%;
    transition: 200ms all ease;
}

.sidebar a {
    display: block;
    color: white;
    padding: 40px;
    text-decoration: none;
    transition: 200ms all;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.easter-egg-button  {
    position: relative;
    bottom: -450px;
}

#sidebar-toggle {
    display: none;
}

.sidebar-toggle-button {
    position: fixed;
    top: 2%;
    left: 89%;
    cursor: pointer;
    z-index: 9999;
    user-select: none;
    transition: 200ms ease all;
    font-size: 72px;

}

#opened-hamburger-menu  {
    opacity: 0;
}

#sidebar-toggle:checked ~ #opened-hamburger-menu    {
    color: white;
    opacity: 1;
}

#sidebar-toggle:checked ~ #closed-hamburger-menu    {
    opacity: 0;
}

#sidebar-toggle:checked ~ .sidebar {
    right: 0px;
    box-shadow: 0px 0px 200px 500px hsla(0, 0%, 0%, 0.732);
}

.sidebar > a:hover {
    color: #323232;
}

.theme-toggle-button::before {
    content: "☀️";
    font-size: 510%;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    transition: transform 200ms;
}

#theme-toggle   {
    display: none;
}

#theme-toggle:checked + .theme-toggle-button {
    background-color: #323232;
}

#theme-toggle:checked + .theme-toggle-button::before {
    content: "🌑";
  }

#theme-toggle:checked ~ .main {
    background: radial-gradient(circle at center, #051428, #051428 92%, #faebd7 70%, #faebd7);
    color: #faebd7;
}

#theme-toggle:checked ~ .sidebar {
    background-color: #102f1e;
}

.easter-egg {
    display: none;
}