.container {
    text-align: center;
    padding-top: 10px;
}

.title  {
    font-size: 450%;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 2px solid MediumSeaGreen;
    border-radius: 10px;
    display: inline;
}

.content   {
    padding: 100px;
    padding-top: 0;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    text-align: center;
    color: rgb(50, 50, 50);
}

body    {
    background-color: AntiqueWhite;
    background-repeat:repeat
}

.main   {
    transition: 200ms all ease;
}

.sidebar {
    height: 100%;
    width: 200px;
    font-size: 250%;
    position:fixed;
    top: 0;
    background-color: MediumSeaGreen;
    padding-top: 50px;
    left: -200px;
    transition: 200ms all ease;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: 200ms all;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

#sidebar-toggle {
    display: none;
}

.sidebar-toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 9999;
    padding-left: 5px;
    user-select: none;
    transition: 200ms ease all;
}

#opened-hamburger-menu  {
    opacity: 0;
}

#sidebar-toggle:checked ~ #opened-hamburger-menu    {
    color: white;
    opacity: 1;
}

#sidebar-toggle:checked ~ #closed-hamburger-menu    {
    opacity: 0;
}

#sidebar-toggle:checked ~ .sidebar {
    left: 0px;
}

#sidebar-toggle:checked ~ .main {
    filter: blur(5px);
    user-select: none;
}

.sidebar > a:hover {
    color: rgb(0, 0, 0)
}